/* TYPOGRAPHY ------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {font-family: Arial, Helvetica, sans-serif; font-weight: normal; line-height: 1em; margin: 0; padding: 0; color: #2e2d29;}
h1 {font-size: 3em; text-transform: uppercase;}
h2 {font-size: 2em; margin: 0 0 1em 0;}
h3 {font-size: 1.25em; margin: 0 0 1em 0;}
h4 {font-size: 1em; font-weight: bold; margin: 0 0 0.5em 0; text-transform: uppercase;}
h5 {font-size: 0.833em; font-weight: bold; margin: 0 0 0.5em 0;}
h6 {font-size: 0.833em; font-weight: bold; margin: 0 0 0.5em 0;}

/* GENERAL LAYOUT ------------------------------------------------------------*/
#header #site h1 {font-size: 3em; line-height: 1em; font-weight: normal; text-transform: uppercase; font-stretch: condensed;}
#header #site #slogan {text-transform: uppercase;}

#navigation-primary ul li a {color: #8c1515; text-transform: uppercase;}
#navigation-primary ul li a:hover {background: #f2f1eb;}
#navigation-primary ul li a.active {background: #f2f1eb;}

#navigation-secondary ul li {border-top: 1px solid #f2f1eb; float: left; margin: 0 20px 0 0; list-style: none; padding-top: 3px;}
#navigation-secondary ul li.last {margin: 0;} 
#navigation-secondary ul li.expanded {padding-right: 0;}
#navigation-secondary ul li.leaf {padding-right: 0;}
#navigation-secondary ul li a {color: #8c1515; font-size: 0.8333em; font-weight: bold; line-height: 2em; text-transform: uppercase;}
#navigation-secondary ul li ul li {border: none; clear: both;}
#navigation-secondary ul li ul li.leaf {padding-top: 0;}
#navigation-secondary ul li ul li a {color: #827252; font-size: 1em; font-weight: normal; line-height: 1em; text-transform: none;}

/* CONTENT -------------------------------------------------------------------*/
h2 {margin: 0 0 1em 0; font-size: 1.2em; line-height: 1em; color: #820000; text-transform: uppercase; font-weight: normal;}
#page-content {background-color: #fbfbf9;}
.well {border: none; box-shadow:none; border-radius: 0px; border-bottom: 1px solid #c9c9c7; background: #f2f1eb; padding: 20px;}


/* HELPER CLASSES ------------------------------------------------------------*/
.red {color: #8c1515;}
.sand {color: #827252;}
.left {float: left; margin-right: 20px;}
.right {float: right; margin-left: 20px;}
.lined {border-bottom: 4px solid #d2d2cf; padding: 0 0 1px 0;}
.img-description {font-size: 0.833em;}
.spacer {margin-top: 30px;}
.clear-block {} /* Already defined by drupal */

.article-box {margin-top: 30px;}
.article-box.last {margin-left: 0; margin-right: 0;}
.article-box.style1 {border: 1px solid #e9e6df; padding: 20px;}
.article-box.style2 {border-top: 1px solid #e9e6df; padding-top: 20px;}
.article-box.style3 {border-top: 1px solid #e9e6df; border-bottom: 1px solid #e9e6df; padding: 20px 0;}

.i-video {border: none; background: url(../images/icons-video.png) left center no-repeat; padding-left: 22px;}
.i-image {border: none; background: url(../images/icons-image.png) left center no-repeat; padding-left: 22px;}
.i-slide {border: none; background: url(../images/icons-slides.png) left center no-repeat; padding-left: 22px;}
.i-audio {border: none; background: url(../images/icons-audio.png) left center no-repeat; padding-left: 22px;}
.i-text {border: none; background: url(../images/icons-text.png) left center no-repeat; padding-left: 22px;}